node_modules
next-env.d.ts
.next
dist
target
coverage
playwright-report
test-results
.vite
.cache
public/mock
*.min.js
*.min.css
*.svg
*.log
tsconfig.tsbuildinfo
.env*
!.env.example
pnpm-lock.yaml
package-lock.json
yarn.lock
